*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/* .container{ */
	/* width:80%; */
	/* margin:auto; */
/* }	 */

		/* header-section */
		
	.head-row{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#e0aeab; 
	 padding:0 5px;
}
header ul{
	display:flex;
	justify-content:space-between;
	}


.head-row ul li a{
	padding:15px; 
	text-decoration:none;
	color:#CCC;		
}	
li a:hover{
	background-color:#fff;
}
	
.head-btn{
	background-color:#e84545;
	text-align:center;
	border-radius:5px;
	padding:10px 20px;
	
}

.head-btn a{
	text-decoration:none;
	color:#fff;
}	

	/* #banner-section */
	

#banner-section{
	  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/hero-bg.jpg");  
	 /* background-color:rgb(0,0,0); */
	 height:100vh;
	 background-size:cover;
	  display:flex; 
}

.content h1{
	font-size:55px;
	color:#fff;
	padding-bottom:10px;
}

.content p{
	font-size:25px;
	color:#d7dbd8;
	padding-bottom:10px;
	
}
.content input{
	width:50%;
	padding:20px;
	font-size:18px;
	border-radius:10px;
	/* position:absolute; */
	/* bottom:0; */
	/* right:2px; */
}
/* .content{ */
	/* position:relative; */
/* } */

.content a{	
	width:10%;
	text-decoration:none;
	background-color:#f03e2e;
	color:#ccc;
	padding:20px;
	font-size:18px;
	border-radius:10px;
	/* position:absolute; */
	/* bottom:0; */
	/* right:2px; */
	
}
.content a:hover{
	background-color:#f2817c;
}

